#app {
  height: 100vh;
  display: flex;
}

/* ----- sidebar ----- */
#sidebar-left {
  height: 100vh;
}

#brand {
  padding: 0 0 8vh 30px;
  margin: 0;
  color: rgba(125 125 125 / 0.8);
  font-weight: 500;
}
/* ----- sidebar ----- */