@keyframes zoom-in {
  from {transform: scale(1, 1);}
  to {transform: scale(1.05, 1.05)}
}

.hover-animation {
  animation-fill-mode: forwards;
  animation-name: zoom-in;
  animation-duration: 250ms;
}